*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$primary-color: #366457;
$secondary-color: #000000;
$hover-color: #2C5247;

.about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 20px;
  color: $secondary-color;
  background-color: #ffffff;
  padding-top: 200px;
  padding-bottom: 200px;
}

.about-me .my-description{
  margin-right: 50px;
  font-family: 'Tilt Neon', sans-serif;
}

.about-me .my-image-container{
  margin-left: 50px;
  margin-right: 30px;
  max-width: 250px;
  min-width: 150px;
}

.about-me .my-image{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.about-me .start2impact:hover{
  background-color: $hover-color;  
}

.my-journey{
  padding-bottom: 200px;
}

.journey-title{
  text-align: center;
  font-family: 'Tilt Neon', sans-serif;
  margin-bottom: 20px; 
}

.bulgaria{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
}

.bulgaria-image,
.hobbies-images{
  object-fit: cover;
  height: 40%;
  width: 40%;
}

.bulgaria-text,
.italy-text{
  font-family: 'Tilt Neon', sans-serif;
  text-align: center;
}

.italy{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $primary-color;
}

.images-container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
}

.first-container,
.second-container,
.third-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 550px){
.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: $secondary-color;
  background-color: #ffffff;
  padding-top: 200px;
  padding-bottom: 200px;
}

.about-me .my-description{
  margin: 30px;
  font-family: 'Tilt Neon', sans-serif;
}

.about-me .my-image-container{
  margin-left: 30px;
  margin-right: 30px;
  max-width: 250px;
  min-width: 150px;
}
}