*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$primary-color: #366457;
$secondary-color: #000000;
$hover-color: #2C5247;

.main-page{
  height: auto;
  justify-content: inherit;
  align-items: inherit;
  z-index: 2;
}

.main-page .main-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  line-height: 20px;
  color: $secondary-color;
}

.main-page .main-text .first-row,
.main-page .main-text .third-row,{
  font-family: Walter-Turncoat, cursive;
  font-size: 22px;
}

.main-page .main-text .third-row .my-job{
  font-family: 'Permanent Marker', cursive;
}

.main-page .main-text .second-row{
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

.main-page .main-text .fourth-row{
  margin-top: 25px;  
}

.main-page .main-text .fourth-row .choose-me{
  margin-top: 60px;
  padding: 5px 10px;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  border-radius: 15px;
  font-family: 'Permanent Marker', cursive;
  cursor: pointer;
  font-size: 22px;
  text-decoration: none;
}

.main-page .main-text .fourth-row .choose-me:hover{
  background-color: $hover-color;  
}

.main-page .main-text .fourth-row .choose-me:active{
  background-color: $primary-color;
}

.main-page .bali-background-small{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 68px 0;
}

.main-page .bali-background-big{
  display: none;
}

@media (min-width: 961px){
.main-page{
  height: auto;
  justify-content: inherit;
  align-items: inherit;
}

.main-page .bali-background-big{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 68px 0;
}

.main-page .bali-background-small{
  display: none;
}
}