*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$primary-color: #366457;
$secondary-color: #000000;
$hover-color: #2C5247;
$text-font: 'Tilt Neon', sans-serif;
  
@media (max-width: 960px){
  
  .header{
    border-bottom: 1px solid #ffffff;
  }

  .footer{
    border-top: 1px solid #ffffff;
  }

  .curriculum-vitae{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .profile-picture{
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  .profile-picture-image{
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  .title-left,
  .title-right,
  .text-left,
  .text-right,
  .job{
    margin-top: 10px;
    text-align: center;
  }

  .title-left,
  .text-left{
    font-family: $text-font;
    color: #ffffff;
  }

  .text-right{
    font-family: $text-font;
  }

  .skills-list{
    text-align: left;
  }

  li{
    list-style-position: inside;
    font-family: $text-font;
    color: #ffffff;
  }

  .job{
    font-family: $text-font;
    font-weight: bold;
  }

  .container-zero,
  .container-one,
  .container-two,
  .container-three,
  .container-four,
  .container-five,
  .container-six{
    padding: 0 10px;
    border-top: 1px solid $primary-color;
  }

  .left-section{
    background-color: $primary-color;
  }
}

@media (min-width: 961px){
  
  .header{
    border-bottom: 1px solid #ffffff;
  }

  .footer{
    border-top: 1px solid #ffffff;
  }

  .curriculum-vitae{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .left-section{
    background-color: $primary-color;
    padding: 100px 0;
    max-width: 300px;
  }

  .profile-picture{
    display: flex;
    justify-content: center;
  }

  .profile-picture-image{
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  .title-left,
  .title-right,
  .text-left,
  .text-right,
  .job-skills,
  .job{
    margin-top: 10px;
    text-align: center;
  }

  .text-left,
  .text-right{
    font-family: $text-font;
  }

  .title-left,
  .text-left{
    color: #ffffff;   
  }

  .skills-list{
    text-align: left;
  }

  li{
    list-style-position: inside;
    font-family: $text-font;
    color: #ffffff;
  }

  .job{
    font-family: $text-font;
    font-weight: bold;
  }

  .container-zero,
  .container-three,
  .container-four,
  .container-five,
  .container-six{
    padding: 0 10px;
    border-top: 1px solid $primary-color;
  }

  .container-one,
  .container-two{
    padding: 0 10px;
    border-top: 1px solid #ffffff;
  }
}