*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$primary-color: #366457;
$secondary-color: #000000;
$hover-color: #2C5247;

  
.footer{
  background-color: $primary-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 68px;
}

.instagram,
.linkedin,
.github{
  width: 20px;
  height: 20px;
}

