*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$primary-color: #366457;
$secondary-color: #000000;
$hover-color: #2C5247;

ul{
  list-style-type: none;
}

li{
  border: 2px solid $primary-color;
}

.skills{
  height: auto;
  justify-content: inherit;
  align-items: inherit;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 20px;
  color: $secondary-color;
  min-height: 100vh;
  padding: 5px 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  font-family: Walter-Turncoat, cursive;
  padding-top: 150px;
  padding-bottom: 200px;  
}

.skills .skills-container{
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid $primary-color;
  margin: 30px;
  padding: 30px 30px;
}

.hard-skills{
  font-size: 40px;
  padding-top: 15px;
}

.soft-skills{
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logos{
  display: flex;
  justify-content: space-between;
}

.html-logo{
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.css-logo{
  width: 100px;
  height: 100px;
}

.html-css{
  margin-bottom: 20px;
}

.pc-maintenance{
  margin-left: 20px;
}

.pc-maintenance-text{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
}

.pc-maintenance-logo{
  width: 90px;
  height: 90px;
  padding-bottom: 20px;
}

.hard-skills-text,
.soft-skills-text{
  margin-bottom: 20px;
  min-width: 220px;
}

.soft-skills-list{
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  text-align: left;
}

.main-page .bali-background-small{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 68px 0;
}

.main-page .bali-background-big{
  display: none;
}

@media (min-width: 961px){
.main-page{
  height: auto;
  justify-content: inherit;
  align-items: inherit;
}

.main-page .bali-background-big{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 68px 0;
}

.main-page .bali-background-small{
  display: none;
}
}

@media (max-width: 575px){
.pc-maintenance{
  padding-top: 50px;
}
}