*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.main-page{
  height: auto;
  justify-content: inherit;
  align-items: inherit;  
}

.main-page .bali-background-small{
  width: 100%;
  display: block;
}