*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$primary-color: #366457;
$secondary-color: #000000;
$hover-color: #2C5247;

.main-page{
  display: flex;
  height: auto;
  justify-content: inherit;
  align-items: inherit;
}

.main-page .main-text{
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 200px;
  line-height: 20px;
  color: $secondary-color;
}

.main-page .main-text .first-row,
.main-page .main-text .third-row{
  font-family: Walter-Turncoat, cursive;
}

.main-page .main-text .third-row .my-job{
  font-family: 'Permanent Marker', cursive;
}

.main-page .main-text .second-row{
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

.main-page .bali-background-small{
  position: absolute;
  width: 100%;
  display: block;
}

.main-page .bali-background-big{
  display: none;
}

@media (min-width: 961px){
.main-page{
  height: auto;
  justify-content: inherit;
  align-items: inherit;  
}

.main-page .bali-background-big{
  width: 100%;
  display: block;
}

.main-page .bali-background-small{
  display: none;
}
}