*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$primary-color: #366457;
$secondary-color: #000000;
$hover-color: #2C5247;

a{
  color: $secondary-color;
}

.header{
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header .logo{
  display: flex;
  align-items: center;
  height: 58px;
  text-decoration: none;
  font-family: Walter-Turncoat, cursive;
  font-weight: bold;
  color: $secondary-color;
}

.header ul{
  list-style: none;
  overflow: hidden;
  background-color: $primary-color;
}

.header ul a{
  display: block;
  padding: 20px;
  text-decoration: none;
  font-family: Walter-Turncoat, cursive;
  color: $secondary-color;
}

.header ul a:hover{
  background-color: $hover-color;
}

.header .logo{
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
  padding: 28px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background-color: $secondary-color;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
  background-color: $secondary-color;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
  position: absolute;
}

.header .menu-icon .nav-icon::before{
  top: 5px;  
}

.header .menu-icon .nav-icon::after{
  top: -5px;
}

.header .menu-btn{
  display: none;
}

.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 961px){
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu{
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon{
    display: none;  
  }
}  